<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
       <section class="camara">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="29" height="40" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
            d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
        <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
    </svg>
    <h4>Album</h4>
       </section>
     
        <svg xmlns="http://www.w3.org/2000/svg" class="icon2" width="29" height="44" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg>
    </header>

    <section class="titulo">

        <h1>Album Example</h1>
        <p class="texto-titulo">
            Something short and leading about the collection below—its contents, the creator, etc. Make it short and
            sweet, but not too short so folks don’t simply skip over it entirely.
    
        </p>
        <button class="blue">Main call to Action</button>

        <button class="white"> Secondary Action</button>


    </section>



    <main class="tarjetas">

        <section>
            <img src="/img/img1.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ab nesciunt est voluptas, aperiam,
                deserunt amet eligendi quos saepe hic eum ad omnis commodi modi accusantium facilis possimus dicta
                doloremque?</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                  
               
           
            <h5>9mins</h5>
        </section>

        <section>
            <img src="/img/img2.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui expedita deleniti quidem
                reiciendis quasi necessitatibus ipsum. Dolore, obcaecati. Fugit, corporis vitae ab magnam quae harum
                temporibus velit tenetur eligendi.</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                      
            <h5>9mins</h5>
        </section>

        <section>
            <img src="/img/img3.jpg" alt="imagen">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, repellat. Quo excepturi eum natus quos
                dicta aut, ab eaque, ipsum alias ipsam saepe dolore at odio sequi harum beatae cumque.</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                      
            <h5>9mins</h5>
        </section>

        <section>
            <img src="/img/img4.jpg" alt="imagen">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo excepturi, nostrum dolore suscipit sequi
                dolorem est, necessitatibus totam iure nesciunt aut dicta! Et dolores odit nostrum debitis, in
                reiciendis beatae?</p>
               
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
          
            <h5>9mins</h5>
        </section>

        <section>
            <img src="/img/img5.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa corrupti quo id odit commodi, aliquid
                ipsam laboriosam, incidunt dolorum eos tempora amet, omnis corporis. Nisi necessitatibus beatae libero?
                Ullam, officiis.</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                      
            <h5>9mmins</h5>
        </section>

        <section>
            <img src="/img/img6.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis reprehenderit voluptatibus, aspernatur ad
                amet, quae nam perferendis itaque dolores voluptatum eligendi sit eius dolor alias corrupti quam
                assumenda provident eaque!</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                      
            <h5>9 mins</h5>
        </section>

         <section>
             
            <img src="/img/img6.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis reprehenderit voluptatibus, aspernatur ad
                amet, quae nam perferendis itaque dolores voluptatum eligendi sit eius dolor alias corrupti quam
                assumenda provident eaque!</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                <h5>9mins</h5>
         </section>

          <section>
            <img src="/img/img5.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa corrupti quo id odit commodi, aliquid
                ipsam laboriosam, incidunt dolorum eos tempora amet, omnis corporis. Nisi necessitatibus beatae libero?
                Ullam, officiis.</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
            <h5>9mins</h5>
          </section>
          
          <section>
            <img src="/img/img5.jpg" alt="imagen">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa corrupti quo id odit commodi, aliquid
                ipsam laboriosam, incidunt dolorum eos tempora amet, omnis corporis. Nisi necessitatibus beatae libero?
                Ullam, officiis.</p>
                <section class="right">
                    <button>View</button>
                    <button>Edit</button>
                  </section>
                      
            <h5>9mins</h5>
          </section>
    </main>

</body>
<footer>
 <p>Album example is © Bootstrap, but please download and customize it for yourself!
    New to Bootstrap? <a href="#">Visit the homepage</a>  or read our <a href="#">getting started guide.</a> </p>
  <a href="#">Back to top</a>
</footer>

</html>